<%- include('./partials/header') %>
<main class="container my-5 py-5 text-center">
  <div class="alert alert-primary">
    <p>Ola, <%= nome %></p>
    <p>Você se inscreveu na newsletter com o email: <%= email %> </p>
  </div>
  <a href="/" class="btn btn-primary">voltar</a>
</main>

<%- include('partials/footer'); %>
